.App {
    text-align: center;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px grey solid;
    height: 100vh;
    flex-wrap: wrap;
}

/* selecting each block in the column */
#main > * {
    /* margin-bottom: 1em; */
    height: 15vh;
    width: 33vw;
    /* margin: ; */
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main > * > * {
    height: 15% ;
    width: 50%;
}

#new-elements {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 15%;
    height: fit-content;
    /* width: ; */
}

#new-dom {
    background-color: orange;
    margin: auto;
    padding: 1px;
    padding-bottom: 2px;
    padding-top: 2px;
    height: fit-content;
    width: fit-content;
}

